nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }
  .App-header {
    background-color: rgb(197, 29, 29);
    height: 150px;
    padding: 20px;
    color: white;
  }